.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 1rem 0;
}
/* HARD RESET LIST STYLING */
.page__content ul {
  padding-left: 0 !important;
  margin-left: 0 !important;
  list-style-position: inside !important;
}

.page__content li {
  margin-left: 0 !important;
}
